name: Database Deploy
on:
  workflow_dispatch:
    inputs:
      environ:
        description: 'Select *prod* or *staging* to deploy'
        required: true
        default: 'staging'
        options:
          - staging
          - prod

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          echo "Create postgresql database backup for $CONNECTION_STRING"
        env: 
          CONNECTION_STRING: ${{ inputs.environ }}

  production-deploy:
    needs: backup
    runs-on: ubuntu-latest
    if: (github.event.inputs.environ == 'staging')
    steps:
      - uses: actions/checkout@v3
      - name: Deploying to prod
        run: |
          echo "Deploying to ${{ env.CONNECTION_STRING }}"

  staging-deploy:
    needs: backup
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
      - name: Test connection string
        run: |
          echo "connection string: $ {{ env.CONNECTION_STRING }}"
